:root {
  --primary-color:#059669;
  --primary-color:#065F46;
 --secondary-color:#10B981;
 --tertiary-color:#E7F9E9;
 --hover-color:#22C55E;
 --highlight-color:#A3E635;
}

.select{
  background-color: lightgreen;
  color:green;
}

.button{
  border:none;
  border:no-border;
}