:root {
  --primary-color:#059669;
  --primary-color:#FF9800;
 --secondary-color:#444444;
 --tertiary-color:#1bbca3;
 --hover-color:#22C55E;
 --highlight-color:#A3E635;
}

.select{
  background-color: lightgreen;
  color:green;
}

.button{
  border:none;
  border:no-border;
}